.control-section-film-maker-lite h3.accordion-section-title {

color: #f6ad21 !important;
border: 2px solid #f6ad21 !important;
border-left: none !important;
border-right: none !important;
}
a.button.button-secondary.alignright{
    background: #f8ba14;
    color: #ffffff !important;
}
